<a href="https://colab.research.google.com/github/TheCoderIsBibhu/Regex_Tasks/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Task1
Bibhudendu Dwibedi

In [94]:
for i in range(5,0,-1):
  print("5 "*i)

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [95]:
for i in range(5):
  for j in range(6-i):
    print(j,end=" ")
  print("\n")

0 1 2 3 4 5

0 1 2 3 4

0 1 2 3

0 1 2

0 1

In [96]:
j=-1
for i in range(6):
  print((str(j)+" ")*i,end=" ")
  j+=2
  print("\n")

1

3 3

5 5 5

7 7 7 7

9 9 9 9 9

In [97]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("\n")

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [98]:
k=1
for i in range(1,6):
  for j in range(1,i):
    print(k,end=" ")
    k+=1
  print("\n")

1

2 3

4 5 6

7 8 9 10

In [99]:
for i in range(7):
  print(11**i)

1
11
121
1331
14641
161051
1771561

In [100]:
for i in range(1,6):
  for j in range(1,6):
    if(i>j): print(i,end=" ")
    else: print(j,end=" ")
  print("\n")

1 2 3 4 5

2 2 3 4 5

3 3 3 4 5

4 4 4 4 5

5 5 5 5 5

In [101]:
for i in range(1,9):
  for j in range(1,i+1):
    print(i*j,end=" ")
  print("\n")

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

6 12 18 24 30 36

7 14 21 28 35 42 49

8 16 24 32 40 48 56 64

In [102]:
r=5
k=r-2
for i in range(r, -1 , -1):  
    for j in range(k , 0 , -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, i+1):  
        print("* " , end="")  
    print()

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [103]:
r=5
k=2*r-2
for i in range(0,r):  
    for j in range(0 , k):  
        print(end="")  
    k = k - 1  
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

*
* *
* * *
* * * *
* * * * *

In [104]:
rows=6
for i in range(0, rows):    
    for j in range(0, i + 1):  
        print("*", end=' ')  
    print(" ")  
print("\n")
for i in range(rows + 1, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *


* * * * * *
* * * * *
* * * *
* * *
* *
*

In [105]:
rows=5
for i in range(0, rows):  
    for j in range(0, i + 1):  
        print("*", end=' ')  
    print(" ")  
for i in range(rows, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [106]:
rows=5
k = 2 * rows - 2  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2     
    for j in range(0, i + 1):  
        print("* ", end="")    
    print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [107]:

rows=5
k = 2 * rows - 2  
for i in range(rows, -1, -1):  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [108]:
k=16
for i in range(0,k//2):
  for j in range(1,k+1):
    if(j<k//2-i or j>k//2+i):
      print("*",end="")
    else:
      print("_",end="")
  print()

*******_********
******___*******
*****_____******
****_______*****
***_________****
**___________***
*_____________**
_______________*

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*